<div class="container">
  <form [formGroup]='form'>
    <div class="row">
      <div class="field">
        <label for="nome">Nome*</label>
        <input type="text" id="nome" formControlName="nome" placeholder="Digite o nome">
      </div>
      <div class="field">
        <label for="email">Email*</label>
        <input type="email" id="email" formControlName="email" placeholder="Digite o email">
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label for="telefone">Telefone*</label>
        <input type="text" id="telefone" formControlName="telefone" placeholder="Digite o telefone">
      </div>
      <div class="field">
        <label for="cep">CEP*</label>
        <input type="text" id="cep" formControlName="cep" placeholder="Digite seu CEP">
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label for="logradouro">Rua</label>
        <input type="text" formControlName="logradouro" placeholder="Digite o nome da rua">
      </div>
      <div class="field">
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" formControlName="bairro" placeholder="Digite o Bairro">
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" formControlName="cidade" placeholder="Digite a Cidade">
      </div>
      <div class="field">
        <label for="estado">Estado</label>
        <input type="text" id="estado" formControlName="estado" placeholder="Digite o Estado">
      </div>
    </div>

    <button type="submit">Cadastrar</button>
  </form>
</div>